{% extends 'base.html' %}

{% block title %}Ejercicio{% endblock %}

{% block body %}
	<div class="card mb-4">
		<h5 class="card-header">{{ problem_data[1] }}</h5>
		<div class="card-body">
			{% filter markdown %}
{{ problem_data[2] }}
			{% endfilter %}
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">Tarea</h5>
		<div class="card-body">
			<h6>Entrada</h6>
			<p>
				{{ subproblem_data[0] | markdown }}
			</p>
			<h6>Salida</h6>
			<p>
				{{ subproblem_data[1] | markdown }}
			</p>
			{% if subproblem_data[2]|length > 0 %}
				<h6>Observaciones</h6>
				<p>
					{{ subproblem_data[2] | markdown }}
				</p>
			{% endif %}
			{% if tests_cases_data|length > 1 %}
				<h6>Ejemplos</h6>
			{% else %}
				<h6>Ejemplo</h6>
			{% endif %}
			{% for item in tests_cases_data %}
				<div class="table-responsive">
					<table class="table table-sm table-bordered">
						<tbody>
							<tr>
								<td style="font-weight: 600;">Entrada</td>
							</tr>
							<tr>
								<td class="bg-light">
									<pre class="mb-0">{{ item[0] }}</pre>
								</td>
							</tr>
							<tr>
								<td style="font-weight: 600;">Salida</td>
							</tr>
							<tr>
								<td class="bg-light">
									<pre class="mb-0">{{ item[1] }}</pre>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			{% endfor %}
			{% if subproblem_data[3]|length > 0 %}
				<h6>Notas</h6>
				<p>
					{{ subproblem_data[3] | markdown }}
				</p>
			{% endif %}
		</div>
	</div>
	<div class="my-4">
		<div id="editor" style="min-height: 200px; border: 1px solid rgba(0,0,0,.125);">print("Hola Mundo 2021")</div>
		<input type="hidden" id="id_problem" value={{ problem_data[0] }}>
	</div>
	<div class="mb-4" style="text-align: right;">
		<a class="btn btn-light" role="button" href={{ url_for('index') }}>Volver</a>
		<button type="button" class="btn btn-primary" onclick="runCode()">Enviar</button>
	</div>
	<div class="card mb-4">
		<h5 class="card-header">Resultados</h5>
		<div class="card-body">
			<h6>Caso &#35;1</h6>
			<div class="table-responsive">
				<table class="table table-sm table-bordered">
					<tbody>
						<tr>
							<td style="font-weight: 600;">Entrada</td>
						</tr>
						<tr>
							<td class="bg-light">
								<pre class="mb-0">1</pre>
							</td>
						</tr>
						<tr>
							<td style="font-weight: 600;">Salida</td>
						</tr>
						<tr>
							<td class="bg-light">
								<pre class="mb-0">2</pre>
							</td>
						</tr>
						<tr>
							<td style="font-weight: 600;">Feedback</td>
						</tr>
						<tr>
							<td class="bg-light">
								<pre class="mb-0">Este es el feedback...</pre>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-xcode.min.js" integrity="sha512-x7Tll5GOde0h/BOxk9HlqwOM0V7qnSk8NR7Qh7qqmD27cMRBlbNfFQFTZDlVsLSuwCr/7gtlfFf3lv59Qkkk8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/mode-python.min.js" integrity="sha512-5quc8iiv3k68XXN7adEav7dyI4bnTDz7WSa99HZmgJk8gZlabsTQibJso2fAZpSO598IZIasgfu/StF9oX+kqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script type="text/javascript">
		var editor = ace.edit("editor");
		editor.setOptions({
			printMargin: false,
			highlightActiveLine: false,
			theme: "ace/theme/xcode",
			fontSize: "15px"
		});
		editor.session.setMode("ace/mode/python");
	</script>
	<script type="text/javascript">
		function runCode() {
			var idProblem = document.getElementById("id_problem").value;
			var sourceCode = editor.getValue();
			var request = new XMLHttpRequest();
			request.open("POST", "http://127.0.0.1:5000/submit");
			request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			request.onreadystatechange = function() {
				if (this.readyState === 4 && this.status === 200) {
					console.log(this.responseText);
					//document.getElementById("result").innerHTML = this.responseText;
				}
			}
			request.send("id_problem=" + idProblem + "&source_code=" + sourceCode);
		}
	</script>
{% endblock %}