{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="row mb-4">
		<div class="col-12">
			<select class="form-select form-select-sm" style="width: 25%;">
				<option value="0">Todos</option>
				{% for p in groups %}
					<option value="{{ p }}">Paralelo {{ p[0] }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">General</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Estadísticas Generales</caption>
							<tbody>
								<tr>
									<td>
										<b>Usuarios</b>
									</td>
									<td style="text-align: right;"></td>
									<td>&nbsp;</td>
									<td>
										<b>Envíos</b>
									</td>
									<td style="text-align: right;"></td>
								</tr>
								<tr>
									<td>
										<b>Insignias</b>
									</td>
									<td style="text-align: right;">7</td>
									<td>&nbsp;</td>
									<td>
										<b>Distribuciones</b>
									</td>
									<td style="text-align: right;"></td>
								</tr>
								<tr>
									<td>
										<b>Feedbacks</b>
									</td>
									<td></td>
									<td>&nbsp;</td>
									<td>
										<b>Quizzes</b>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Envíos</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Veredictos</caption>
							<thead>
								<th>Veredicto</th>
								<th>Porcentaje</th>
								<th>Total</th>
							</thead>
							<tbody>
								<tr>
									<td>dasdaf</td>
									<td>1</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Categorías</caption>
							<thead>
								<th>Categoría</th>
								<th>Fácil</th>
								<th>Medio</th>
								<th>Difícil</th>
								<th>Total</th>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Insignias</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Insignias</caption>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Distruciones</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Distruciones</caption>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block additional_javascript %}
{% endblock %}