{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="row mb-4">
		<div class="col-12">
			<select id="form-select-group" class="form-select form-select-sm" style="width: 25%;">
				<option value="-1">Todos</option>
				{% for p in groups %}
					<option value="{{ p[0] }}">
						{{ 'Sin Paralelo' if p[0] == 0 else 'Paralelo ' ~ p[0] }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">General</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-borderless caption-top">
							<caption>Estadísticas Generales</caption>
							<tbody>
								<tr>
									<td>
										<b>Usuarios</b>
									</td>
									<td style="text-align: right;">{{ general_data[0] }}</td>
									<td>&nbsp;</td>
									<td>
										<b>Envíos</b>
									</td>
									<td style="text-align: right;">{{ general_data[1] }}</td>
								</tr>
								<tr>
									<td>
										<b>Insignias</b>
									</td>
									<td style="text-align: right;">{{ general_data[2] }}</td>
									<td>&nbsp;</td>
									<td>
										<b>Distribuciones</b>
									</td>
									<td style="text-align: right;">{{ general_data[3] }}</td>
								</tr>
								<tr>
									<td>
										<b>Feedbacks</b>
									</td>
									<td style="text-align: right;">{{ general_data[4] }}</td>
									<td>&nbsp;</td>
									<td>
										<b>Quizzes</b>
									</td>
									<td style="text-align: right;">{{ general_data[5] }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Envíos</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered caption-top">
							<caption>Veredictos</caption>
							<thead class="table-light">
								<th>Veredicto</th>
								<th style="text-align: center;">Porcentaje</th>
								<th style="text-align: center;">Total</th>
							</thead>
							<tbody>
								{% for item in submissions_by_verdict %}
								<tr>
									<td>{{ item[0] }}</td>
									<td style="text-align: right;">{{ item[2] }}%</td>
									<td style="text-align: right;">{{ item[1] }}</td>
								</tr>
								{% endfor %}
							{% if submissions_by_verdict|length == 0 %}
								<tr class="table-warning">
									<td colspan="3" style="text-align: center;">No se ha realizado ningún envío.</td>
								</tr>
							{% endif %}
							</tbody>
						</table>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered caption-top">
							<caption>Categorías</caption>
							<thead class="table-light">
								<th>Categoría</th>
								<th style="text-align: center;">Fácil</th>
								<th style="text-align: center;">Medio</th>
								<th style="text-align: center;">Difícil</th>
								<th style="text-align: center;">Total</th>
							</thead>
							<tbody>
							{% for item in submissions_quantity_summary %}
								<tr>
									<td>{{ item[0] }}</td>
									<td style="text-align: right;">{{ item[2] }}</td>
									<td style="text-align: right;">{{ item[3] }}</td>
									<td style="text-align: right;">{{ item[4] }}</td>
									<td style="text-align: right;">{{ item[1] }}</td>
								</tr>
							{% endfor %}
							{% if submissions_quantity_summary|length == 0 %}
								<tr class="table-warning">
									<td colspan="5" style="text-align: center;">No se ha realizado ningún envío.</td>
								</tr>
							{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Distribuciones</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered caption-top">
							<caption>Distribuciones</caption>
							<thead class="table-light">
								<th>Categoría</th>
								<th style="text-align: center;">Fácil</th>
								<th style="text-align: center;">Medio</th>
								<th style="text-align: center;">Difícil</th>
								<th style="text-align: center;">Total</th>
							</thead>
							<tbody>
							{% for item in distributions %}
								<tr>
									<td>{{ item[0] }}</td>
									<td style="text-align: right;">{{ item[2] }}</td>
									<td style="text-align: right;">{{ item[3] }}</td>
									<td style="text-align: right;">{{ item[4] }}</td>
									<td style="text-align: right;">{{ item[1] }}</td>
								</tr>
							{% endfor %}
							{% if distributions|length == 0 %}
								<tr class="table-warning">
									<td colspan="5" style="text-align: center;">No se ha obtenido ninguna distribución.</td>
								</tr>
							{% endif %}
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Insignias</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered caption-top">
							<caption>Insignias</caption>
							<thead class="table-light">
								<th>Descripción</th>
								<th style="text-align: center;">Cantidad</th>
							</thead>
							<tbody>
							{% for item in badges %}
								<tr>
									<td>{{ item[0] }}</td>
									<td style="text-align: right;">{{ item[1] }}</td>
								</tr>
							{% endfor %}
							{% if badges|length == 0 %}
								<tr class="table-warning">
									<td colspan="2" style="text-align: center;">No se ha obtenido ninguna insignia.</td>
								</tr>
							{% endif %}
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Quizzes</h6>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered caption-top">
							<caption>Quizzes</caption>
							<thead class="table-light">
								<th>Veredicto</th>
								<th style="text-align: center;">Promedio</th>
								<th style="text-align: center;">Total</th>
							</thead>
							<tbody>
							{% for item in quiz_attempts %}
								<tr>
									<td>{{ item[0] }}</td>
									<td style="text-align: right;">{{ item[1] }}</td>
									<td style="text-align: right;">{{ item[2] }}</td>
								</tr>
							{% endfor %}
							{% if quiz_attempts|length == 0 %}
								<tr class="table-warning">
									<td colspan="3" style="text-align: center;">No se ha realizado ningún quiz.</td>
								</tr>
							{% endif %}
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block additional_javascript %}
	<script type="text/javascript">
	let idGroup = window.location.href.split('/')[5];
	if (idGroup == undefined) idGroup = -1;
	$("#form-select-group").val(idGroup);

	$('#form-select-group').change(function() {
		let selectedOption = $(this).val();
		let arr = window.location.href.split('/');
		arr[1] = '//';
		if (arr.length == 6) arr.pop();
		arr.push(selectedOption.toString());
	
		if (selectedOption == -1) {
			arr.pop();
		}

		if (arr[5] == undefined) {
			idGroupAdd = '';
		} else {
			idGroupAdd = '/' + arr[5];
		}

		window.location.href = arr[0] + arr[1] + arr[2] + '/' + arr[3] + '/' + arr[4] + idGroupAdd;
	});
	</script>
{% endblock %}