{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="row mb-4">
		<div class="col-12">
			<select class="form-select form-select-sm" style="width: 25%;">
				<option value="0">Todos</option>
				{% for p in groups %}
					<option value="{{ p }}">Paralelo {{ p[0] }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<h6 class="card-header">Envíos</h6>
				<div class="card-body">
					Hola
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block additional_javascript %}
{% endblock %}