{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
<div class="row mb-5">
	<div class="col-md-4 col-sm-12">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<h5 class="card-title">¿Cómo puedes mejorar en un curso de programación?</h5>
				<p class="card-text">
					No siempre suele ser fácil aprender a programar, pues requiere que cambiemos la manera de ver las cosas y porque necesitamos que el computador entienda lo que queremos lograr.
				</p>
				<p class="card-text">
					En esta plataforma podrás practicar con cientos de ejercicios que estarán ajustados a tu nivel de progreso actual. Siempre sabrás que ejercicios son los más recomendables para ti, para que así no tengas que perder tiempo buscándolos.
				</p>
				<a href="#how-this-to-work" class="card-link">Quiero saber más</a>
				<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="card-link">Iniciar sesión</a>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-12">
		<iframe width="100%" height="428" src="https://www.youtube.com/embed/qgl264XgLis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<div class="row mb-5" id="how-this-to-work" >
	<div class="col">
		<div class="text-center mb-5">
			<h2>¿Cómo funciona?</h2>
			<p>Conoce las características de SBS</p>
		</div>
		<div class="row mb-4">
			<div class="col-md-6">
				<div class="card">
					<h6 class="card-header">
						Conoce tu nivel actual
					</h6>
					<div class="mt-4 text-center">
						<img src="{{ url_for('static', filename='test-tube-2-128.png') }}">
					</div>
					<div class="card-body">
						Realiza un cuestionario de 10 preguntas para obtener el nivel actual en el que te encuentras, este es tu punto de partida para comenzar a practicar.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<h6 class="card-header">
						Resuelve ejercicios
					</h6>
					<div class="mt-4 text-center">
						<img src="{{ url_for('static', filename='text-file-2-128.png') }}">
					</div>
					<div class="card-body">
						Tienes a tu disposición cientos de ejercicios para practicar, cada uno de ellos está seleccionado para que se ajuste precisamente al nivel que tienes actualmente.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<h6 class="card-header">
						Comprueba tus resultados
					</h6>
					<div class="mt-4 text-center">
						<img src="{{ url_for('static', filename='balloon-6-128.png') }}">
					</div>
					<div class="card-body">
						Tus envíos son calificados automáticamente, por lo que en unos pocos segundos recibirás un veredicto que te permitirá saber si tu solución implementada está correcta o no.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<h6 class="card-header">
						Progresa
					</h6>
					<div class="mt-4 text-center">
						<img src="{{ url_for('static', filename='combo-128.png') }}">
					</div>
					<div class="card-body">
						Cada vez que logres resolver un ejercicio y dependiendo de otros factores, avanzarás de nivel y tendrás a tu dispoción nuevos ejercicios para intentar resolver.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mb-5">
	<div class="col text-center">
		<div class="mb-5">
			<h2>Estadísticas</h2>
			<p>Nuestras principales métricas</p>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h2>{{ statistics[0] }}</h2>
				<p>Problemas</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<h2>{{ statistics[1] }}</h2>
				<p>Envíos</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<h2>{{ statistics[2] }}</h2>
				<p>Usuarios</p>
			</div>
		</div>
	</div>
</div>
<div class="row mb-5">
	<div class="col">
		<div class="mb-5 text-center">
			<h2>Preguntas frecuentes</h2>
		</div>
		<div class="row">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						¿Qué lenguajes de programación puedo utilizar?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Actualmente solo uno: Python 3.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						¿Cuántos envíos puedo realizar?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							No hay ningún límite. Puedes realizar todos los envíos que quieras.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						¿Existe una única solución para cada problema?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							No. Hay múltiples soluciones para un mismo problema. Solo debes cerciorarte del formato de entrada de los datos y del formato de la salida que te solicita el enunciado.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Para iniciar sesión primero tienes que acceder desde el curso de programación en Aula.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<a class="btn btn-primary" href="https://aula.usm.cl/" role="button" target="_blank">Ir a Aula</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
<footer class="text-center text-lg-start" style="background-color: #e3f2fd;">
	<div class="text-center p-3">
		&copy; {{ current_year }} Copyright:
		<a class="text-dark" href="mailto:hugo.leyton@sansano.usm.cl">Hugo Leyton</a>
	</div>
</footer>
{% endblock %}