{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
	<div class="table-responsive">
		<table class="table table-bordered" style="vertical-align: middle;">
			<thead class="table-light">
				<th>Categoría</th>
				<th>Nivel actual</th>
				<th style="text-align: center;">Progreso</th>
				<th style="text-align: center;">Opción</th>
			</thead>
			<tbody>
				{% for item in progress_list %}
				<tr>
					<td>
						<a href="exercises/programas-basicos">{{ item }}</a>
					</td>
					<td>Alto</td>
					<td>
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
						</div>
					</td>
					<td style="text-align: center;">
						<a class="btn btn-primary" role="button" href={{ url_for('quiz', category='programas-basicos') }}>Evaluar</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}