{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="row mb-5">
		<div class="col">
			<div class="row">
				<div class="col">
					<h5>Últimos niveles logrados</h5>
				</div>
				<div class="col">
					<div class="d-flex flex-row-reverse bd-highlight">
						<select id="category" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 250px;">
							{% for cat in categories %}
							<option value="{{ cat[0] }}">{{ cat[1] }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<canvas id="variation-of-levels" height="80"></canvas>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col">
			<h5>Métricas</h5>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card text-dark bg-light" style="height:100%;">
						<div class="card-body text-center">
							<h5 class="card-title">Problemas resueltos</h5>
							<h1>{{ metrics[0] }}</h1>
							<p class="card-text">
								{{ 'problema' if metrics[0] == 1 else 'problemas' }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card text-dark bg-light" style="height:100%;">
						<div class="card-body text-center">
							<h5 class="card-title">Intentos no resueltos</h5>
							<h1>{{ metrics[1] }}</h1>
							<p class="card-text">
								{{ 'problema' if metrics[1] == 1 else 'problemas' }}
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card text-dark bg-light" style="height:100%;">
						<div class="card-body text-center">
							<h5 class="card-title">Envíos</h5>
							<h1>{{ metrics[2] }}</h1>
							<p class="card-text">
								{{ 'envío' if metrics[2] == 1 else 'envíos' }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>Distribución de veredictos</h5>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col">Veredicto</th>
									<th scope="col">Descripción</th>
									<th scope="col">Cantidad</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>In Queue</td>
									<td>El envío está esperando su turno para ser procesado.</td>
									<td>{{ amount_by_status[0] }}</td>
								</tr>
								<tr>
									<td>Processing</td>
									<td>El envío se está juzgando.</td>
									<td>{{ amount_by_status[1] }}</td>
								</tr>
								<tr>
									<td>Accepted</td>
									<td>El código está 100% correcto.</td>
									<td>{{ amount_by_status[2] }}</td>
								</tr>
								<tr>
									<td>Wrong Answer</td>
									<td>El código falló en algún caso de prueba.</td>
									<td>{{ amount_by_status[3] }}</td>
								</tr>
								<tr>
									<td>Time Limit Exceeded</td>
									<td>El código no logra terminar en un tiempo prudente.</td>
									<td>{{ amount_by_status[4] }}</td>
								</tr>
								<tr>
									<td>Compilation Error</td>
									<td>Hubo un error antes de intentar ejecutar tu código.</td>
									<td>{{ amount_by_status[5] }}</td>
								</tr>
								<tr>
									<td>Runtime Error</td>
									<td>El código generó un error mientras se estaba ejecutando.</td>
									<td>{{ amount_by_status[6] }}</td>
								</tr>
								<tr>
									<td>Internal Error</td>
									<td>La plataforma presenta un error para procesar el código.</td>
									<td>{{ amount_by_status[12] }}</td>
								</tr>
								<tr>
									<td>Exec Format Error</td>
									<td>El código genera una salida con espacios o saltos de líneas adicionales.</td>
									<td>{{ amount_by_status[13] }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_css %}
<style type="text/css">
	.wrapper { width: 320px; height: 320px; }
</style>
{% endblock %}

{% block additional_javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
	let myChart;

	function generateChart(id_category) {
		$.ajax({
			url: window.location.origin + '/api/user_progress',
			data: JSON.stringify({ id_category: id_category }),
			type: 'POST',
			contentType: 'application/json',
			dataType: 'json',
			timeout: 3000,
			beforeSend: function() {
			},
			success : function(json) {
				console.log(json);
				var ctx = document.getElementById('variation-of-levels');
				var ctx = document.getElementById('variation-of-levels').getContext('2d');
				var ctx = $('#variation-of-levels');
				var ctx = 'variation-of-levels';
				var xValues = json['details']['dates'];
				var yValues = json['details']['distribution_ids'];
				
				if (myChart) myChart.destroy();
				
				myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: xValues,
						datasets: [{
							label: 'Nivel',
							backgroundColor: "rgba(54, 162, 235, 0.2)",
							borderColor: [
								'rgb(54, 162, 235)'
							],
							borderWidth: 1,
							data: yValues
						}]
					},
					options: {
						legend: {
							display: false
						},
						title: {
							display: true,
							text: 'Variación de los niveles alcanzados',
							maintainAspectRatio: false
						},
						scales: {
							x: {
								title: {
									display: true,
									text: 'Fecha'
								}
							},
							y: {
								min: 0,
								max: 3,
								ticks: {
									stepSize: 1
								}
							}
						}
					}
				});
			},
			error : function(xhr, status) {
				
			},
			complete : function(xhr, status) {
				
			}
		});
	}

	document.getElementById('category').onchange = changeListener;
	function changeListener(){
		var value = this.value;
		generateChart(value);
	}

	$(document).ready(function() {
		generateChart(1);
	});
</script>
{% endblock %}