{% extends 'base.html' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
<h5 class="text-center">Encuesta de satisfacción</h5>

{% if status == 'SURVEY_NOT_ANSWERED' %}
	<p class="text-center">Para continuar usando CODY, ayúdame respondiendo la siguiente encuesta que aportará al desarrollo de mi memoria. <br>De antemano, ¡gracias!</p>
	<form method="post" action="{{ url_for('survey') }}">
		<div class="row my-4">
			<div class="col">
				<label for="textarea1" class="form-label">
					¿Qué avances obtuviste gracias al uso de la plataforma?
				</label>
				<textarea class="form-control" name="textarea1" id="textarea1" rows="3" required minlength="10"></textarea>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<label for="textarea2" class="form-label">
					¿Recomendarías la plataforma a otros estudiantes? (sí o no y por qué)
				</label>
				<textarea class="form-control" name="textarea2" id="textarea2" rows="3" required minlength="10"></textarea>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<label for="textarea3" class="form-label">
					¿Qué opinas de la usabilidad de la plataforma?
				</label>
				<textarea class="form-control" name="textarea3" id="textarea3" rows="3" required minlength="10"></textarea>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<label for="textarea4" class="form-label">
					¿Qué mejoras propondrías para la plataforma?
				</label>
				<textarea class="form-control" name="textarea4" id="textarea4" rows="3" required minlength="10"></textarea>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<label for="textarea5" class="form-label">
					Considerando <a href="https://smoj.inf.utfsm.cl/index.php" target="_blank">SMOJ</a> y Cody, ¿cuál de ellos crees tú que podría ayudarte más a lograr tus objetivos académicos y por qué?
				</label>
				<textarea class="form-control" name="textarea5" id="textarea5" rows="3" required minlength="10"></textarea>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
				
			</div>
		</div>
	</form>
{% elif status == 'SURVEY_ANSWERED' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
</svg>
<div class="my-4">
	<div class="alert alert-success d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div>
			¡Muchas gracias! Tus respuestas serán muy útiles para el desarrollo de mi memoria.
		</div>
	</div>
</div>
{% elif status == 'SURVEY_ALREADY_ANSWERED' %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
	</symbol>
</svg>
<div class="my-4">
	<div class="alert alert-primary d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
		<div>
		¡Muchas gracias! Anteriormente ya respondiste esta encuesta, así que no es necesario que la vuelvas a completar.
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block additional_css %}
{% endblock %}

{% block additional_javascript %}
{% endblock %}